* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Authorize-wrapper {
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
}

.Authorize-wrapper img {
  height: 250px;
  margin-bottom: 20px;
}
